@page "/"

<MainTitle Title="صفحه اصلی"/>

<div class="container-xxl flex-grow-1 container-p-y">
<h4 class="py-3 breadcrumb-wrapper mb-4">صفحه 1</h4>
<p>
    صفحه نمونه.<br>برای گزینه های طرح بیشتر به
    <a href="https://v3dboy.ir/previews/html/frest/documentation/layouts.html" target="_blank" class="fw-bold">مستندات طرح ها</a> مراجعه کنید.
</p>
</div>